body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    display: flex;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #0f172a;
    color: white;
    padding: 25px;
}

.sidebar h2 {
    margin-bottom: 40px;
}

.sidebar p {
    padding: 12px;
    border-radius: 8px;
}

.sidebar p:hover {
    background: #2563eb;
}

.main {
    flex: 1;
    padding: 30px;
}

.main h1 {
    color: #111827;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.card {
    background: white;
    padding: 25px;
    width: 220px;
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.card h2 {
    font-size: 40px;
    margin: 10px 0;
}

.green h2 {
    color: #16a34a;
}

.red h2 {
    color: #dc2626;
}

.table-box {
    margin-top: 30px;
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 14px;
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
}

.online {
    background: #dcfce7;
    color: #166534;
    padding: 6px 12px;
    border-radius: 20px;
}

.offline {
    background: #fee2e2;
    color: #991b1b;
    padding: 6px 12px;
    border-radius: 20px;
}